# Copia este archivo a .env y rellena los valores reales
# NUNCA subas el archivo .env al repositorio

TELEGRAM_TOKEN=
GOOGLE_APPLICATION_CREDENTIALS=credenciales_lia.json
DOCUMENT_AI_PROJECT_ID=
DOCUMENT_AI_LOCATION=us
VERTEX_AI_LOCATION=us-central1
DOCUMENT_AI_PROCESSOR_ID=
SHEET_ID=
DRIVE_FOLDER_ID=
ADMIN_CHAT_ID=
DRIVE_FOLDER_LEER=
